	<!-- Cabecera de la página web -->
	<header>
		<!--<h1>BTS</h1> -->

    <a href="/">
        <img src="/img/logo.png" alt="BTS Logo" style="height: 60px;">
    </a>
    
    <div class="saludo">
			
        <% mostrarSaludo(session) %>
			<!--Usuario desconocido. <a href='/usuarios/login'>Login</a>-->
		</div>

		<div class="opciones">
			<% mostrarOpciones(session); %>
		</div>
	</header>

<% function mostrarSaludo(session) { %>
	<% if(session.login) {%>
		<p>Bienvenido <%= session.nombre %>. 
		<a href='/users/logout'> Logout</a> </p>
	<% } else { %>   
		<a href='/users/login'> Login</a> <a href='/users/register'>Register</a>
	<% } %>
<% } %>

<% function mostrarOpciones(session) { %>
    <% if (session.login) { %>
        <a href="/content/normal">Perfil</a>
        <% if (session.esAdmin) { %>
            <a href="/content/admin">Administrador</a>
        <% } %>
        <% if (session.esPeriodista) { %>
            <a href="/content/journal">Artículos</a>
        <% } %>
    <% } %>
<% } %>
