<nav id="pie">
    <h3>Informacion Proyecto</h3>
    <ul>
        <li><a href="/information/members">Miembros</a></li>
        <li><a href="/information/details">Detalles</a></li>
        <li><a href="/information/contact">Contacto</a></li>
        <li><a href="/information/planification">Planificacion</a></li>
        <li><a href="/information/sketches">Bocetos</a></li>

</nav>