
<nav id="pie">
    <h3>Informacion Proyecto</h3>
		<ul>
			<li><a href="/informacion/miembros">Miembros</a></li>
			<li><a href="/informacion/detalles">Detalles</a></li>
            <li><a href="/informacion/contacto">Contacto</a></li>
            <li><a href="/informacion/planificacion">Planificacion</a></li>
            <li><a href="/informacion/bocetos">Bocetos</a></li>

</nav>