body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

.create-forum, .show-more {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.create-forum:hover, .show-more:hover {
    background-color: #0056b3;
}

.forum-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.forum-group {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}
	background: #3f033c;
	width: inherit;
}
.dropdown_genres_content{
	background: #b57aab;
	border-bottom: 2px solid rgb(255, 255, 255);
	visibility:hidden;
	width: inherit;
	max-height: 0px;
}
	.dropdown_genres_admin_options_button{
		align-self: flex-end;
		height:inherit;
	}
    /*Cosas dropdown generos*/
.dropdown_genres{
	text-align: center;
	display: flex;
	color: rgb(255, 255, 255);
	border: 2px solid rgb(94, 32, 101);
	width: 500px;
}
.dropdown_genres_button{
    background: #3f033c;
	width: inherit;
}
.dropdown_genres_content{
	background: #b57aab;
	border-bottom: 2px solid rgb(255, 255, 255);
	visibility:hidden;
	width: inherit;
	max-height: 0px;
}
	.dropdown_genres_admin_options_button{
		align-self: flex-end;
		height:inherit;
	}