<section>
    <% showReviews(game.id) %>
</section>


<% function showReviews(id){ %>
    <% reviewList.forEach(review => { %>
        <div id = "review_juego">
            <% showRev(review) %>
        </div>
<% })} %>

<% function showRev(rev){ %>
    <p> <%= rev.username%></p>
    <p> <%= rev.date %></p>
    <p> <%= rev.description%></p>
    <p> <%= rev.rating%></p>
    <p></p>
    <p></p>
    <% if(session.esAdmin) {%>
<!--
    TODO: boton para eliminar review
-->
        <form action = "/review/deleteReview/" method = "POST">
            <button type ="submit">Eliminar review</button>
        </form>
    <% }%>
<% } %>
