<h1>Lista de juegos</h1>

<div class="juegos">
    <%showGameList()%>
</div>

<% function showGameList() { %>
<%  gameList.forEach(game=>{ %>
<a href="/game/<%=game.id%>"><%=game.titulo%></a> <p></p>
<% })} %>
