<h1>Lista de juegos</h1>

<div class="games">
    <%showGameList()%>
</div>

<% function showGameList() { %>
<%  gameList.forEach(game=>{ %>
<a href="/juegos/<%=game.id%>"><%=game.titulo%></a> <p></p> <!-- creo que /juegos/ es del app.js -->
<% })} %>
