<h1>Añadir juego a Base de Datos</h1>

<form action="/games/addGame" method="POST">
<fieldset>
	<% if (locals.error) { %>
		<p><strong><%= locals.error %></strong></p>
	<% } %>
	<% if (locals.exito) { %>
		<p><strong><%= locals.exito %></strong></p>
	<% } %>
	<legend> Añadir Juego</legend>
	<div><label>Titulo:</label> <input type="text" name="title" /></div>
	<div><label>Descripcion:</label> <input type="text" name="description" /></div>
	<div><label>Nota:</label> <input type="text" name="rating" /></div>
	<div><label>Número Favoritos:</label> <input type="text" name="favNumber" /></div>
	<div><label>Id compañía:</label> <input type="text" name="company_id" /></div>
	<button type="submit">Enviar</button>
</fieldset>