<h1>Panel de Administración</h1>
<div class="button-container">
    <form action="/games/addGame" method="GET">
        <button type="submit">Add Game</button>
    </form>
    <form action="/users/register" method="GET">
        <button type="submit">Add Special User</button>
    </form>
    <form action="/users/listausuarios" method="GET">
        <button type="submit">Delete User</button>
    </form>
    <form action="/forum/deleteForum" method="POST">
        <button type="submit">Delete Forum</button>
    </form>
</div>