<h1>Foros</h1>
<button class="create-forum">CREAR FORO</button>   
<section class="forum-container">
    <section class="forum-group">
        <h2>Título Discusión de Foro</h2>
        <p>Creado por: <span>Manolito123</span></p>
        <p class="forum-desc">Descripción de autor sobre el motivo del foro y temas a abarcar</p>
        <button class="show-more">Ver más</button>
    </section>
    
    <section class="forum-group">
        <h2>Título Discusión de Foro</h2>
        <p>Creado por: <span>Lighting MacQueen</span></p>
        <p class="forum-desc">Descripción de autor sobre el motivo del foro y temas a abarcar</p>
        <button class="show-more">Ver más</button>
    </section>
    
    <section class="forum-group">
        <h2>Título Discusión de Foro</h2>
        <p>Creado por: <span>Kojima Enjoyer</span></p>
        <p class="forum-desc">Descripción de autor sobre el motivo del foro y temas a abarcar</p>
        <button class="show-more">Ver más</button>
    </section>
</section> html->router->controller->clase->BD