<form action="/genres/genreList" method="POST"></form>
<% showGenreList() %>

<% function showGenreList() { %>
    <% genreList.forEach(genre=>{ %>

    <div id="bloque_genero">
        <% showGenreInfo(genre) %>
    </div>
<% })} %>
<% showGenreInfo(genre){ %>
<div id="bloque_genero">
    <%= genre.name %>
</div>

<% } %>