<section>
    <h1>Planificacion del proyecto</h1>
    <h2>Tareas a realizar:</h2>
    <div>
        <h3>Desarrollo de funcionalidades:</h3>
        <ul>
            <li>
                Funcionalidad 1: inicio de sesion y creacion de cuentas de usuario
            </li>
            <li>Funcionalidad 2: adición de videojuegos</li>
            <li>Funcionalidad 3: foros y subforos</li>
            <li>Funcionalidad 4: noticias y guías de videojuegos</li>
            <li>
                Funcionalidad 5: reviews cortas escritas por jugadores casuales
            </li>
        </ul>
    </div>
    <section>
        <h3>Reparto del trabajo</h3>
        <p>
            Cada compañero del equipo realizará su propia funcionalidad para así
            conseguir un mayor conocimiento en el área del desarrollo web, diseño
            gráfico y diseño de bases de datos.
        </p>
    </section>
    <section>
        <h3>Plazos de entrega</h3>
        <ul>
            <li>Definicion del proyecto: antes del 14 de febrero del 2025</li>
            <ul>
                <li>Redacción del sales pitch</li>
                <li>Descripción general</li>
                <li>Revisión de los requisitos</li>
                <li>Organización del equipo</li>
            </ul>
            <li>
                Exposición de diseño y estructura: antes del 14 de febrero de 2025
            </li>
            <ul>
                <li>Bocetos de los diseños de la página web</li>
                <li>Estructura de archivos y carpetas</li>
            </ul>
            <li>
                Implementación básica de la página web: antes del 8 de marzo de 2025
            </li>
            <ul>
                <li>Implementación mínima de la página web</li>
                <li>Testing de la página web y corrección de errores</li>
            </ul>
            <li>
                Implementación avanzada de la página web: antes del 28 de abril de
                2025
            </li>
            <ul>
                <li>Mejora del diseño usando JavaScript y CSS</li>
                <li>Optimización de acceso a BBDD</li>
                <li>Corrección de errores indicados por el cliente</li>
            </ul>
            <li>Entrega del proyecto final al cliente: 9 de mayo de 2025</li>
        </ul>
    </section>
    <section>
        <table>
            <caption>
                Hitos y fechas
            </caption>
            <tr>
                <th>Hito</th>
                <th>Fecha</th>
            </tr>
            <tr>
                <td>Sales pitch</td>
                <td>07/02/2025</td>
            </tr>
            <tr>
                <td>Práctica 1</td>
                <td>14/02/2025</td>
            </tr>
            <tr>
                <td>Práctica 2</td>
                <td>08/03/2025</td>
            </tr>
            <tr>
                <td>Práctica 3</td>
                <td>28/03/2025</td>
            </tr>
            <tr>
                <td>Práctica 4</td>
                <td>09/05/2025</td>
            </tr>
        </table>
    </section>
</section>