<h1>Registro de nuevo usuario</h1>

<form action="/users/register" method="POST">
<fieldset>
	<% if (locals.error) { %>
		<p><strong><%= locals.error %></strong></p>
	<% } %>
	<legend>Usuario y contraseña</legend>
	<div><label>Nombre:</label> <input type="text" name="username" required/></div>
	<div><label>Contraseña:</label> <input type="password" name="password" required/></div>
	<%userOption(session)%>
	<button type="submit">Enviar</button>
</fieldset>


<% function userOption(session) { %>
    <% if (session.esAdmin) { %>
        <div>
            <label>Special User:</label>
            <select name="userRole">
                <option value="admin">Web Staff</option>
                <option value="journal">Jornalist</option>
            </select>
        </div>
    <% } %>
<% } %>
