<section class="review-container">
    <section class="review-header">
        <section class="profile">
            <img src="IADA.png" alt="Perfil">
            <section>
                <p>Nombre de usuario</p>
                <span class="rating">
                    ●●●●● 4.3
                </span>
            </section>
        </section>
        <button class="button">Ver más</button>
    </section>

    <p class="review-text">
        Texto de la reseña del usuario, describiendo su experiencia y opinión sobre el producto o servicio.
    </p>

    <section class="review-footer">
        <button class="button">Dejar una reseña</button>
    </section>
</section>
